<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        <h1 id="heading"> <i class="fa fa-address-book"></i> Contact List</h1>
        <div>
            <ul>
                <% for(let i of contact_list){%>
                    <li>
                        <div class="details">
                            <p><%=i.name%></p>
                            <p><%=i.phone%></p>
                        </div>
                        <div class="delete-button">
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </li>
                <%}%>
            </ul>

            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="enter name" required>
                <input type="number" name="phone" placeholder="enter phone number" required>

                <button type="submit"> Add Contact</button>
            </form>
        </div>
        <script type="text/javascript" src="js/home.js"></script>
    </body>
</html>