<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h3>PlayGround</h3>

        <ul>
            <% for(let i=1;i<=6;i++){ %>
                <li><%=i %></li>
            <% } %>
        </ul>

        <% if(true){%>

            <h4>inside if</h4>
            
            <%} else{%>
                <h4>inside else</h4>
                
                <%}%>
    </body>
</html>